# -*-mode:conf-toml-*- vim:ft=toml

# ~/.local/share/chezmoi/home/.chezmoi.toml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`. All template
# data name will turn to lower case.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`

{{- $name           := "" }}
{{- $email          := "" }}
{{- $signingkey     := "" }}
{{- $encryptionkey  := "" }}

{{- if stdinIsATTY }}
{{-   if hasKey . "name" }}
{{-     $name = promptString "changing your name" .name }}
{{-   else }}
{{-     $name = promptString "your name" }}
{{-   end }}
{{-   if hasKey . "email" }}
{{-     $email = promptString "changing your email" .email }}
{{-   else }}
{{-     $email = promptString "your email" }}
{{-   end }}
{{-   if hasKey . "signingkey" }}
{{-     $signingkey = promptString "changing your signing key" .signingkey }}
{{-   else }}
{{-     $signingkey = promptString "your signing key" }}
{{-   end }}
{{-   if hasKey . "encryptionkey" }}
{{-     $encryptionkey = promptString "changing your encryption key" .encryptionkey }}
{{-   else }}
{{-     $encryptionkey = promptString "your encryption key" }}
{{-   end }}
{{- else }}
{{-   writeToStdout (printf "You should manually edit config file in '%d'!\n" .chezmoi.configFile) }}
{{- end }}

verbose = true
encryption = "gpg"
[gpg]
    recipient = {{ $encryptionkey | quote }}
    args = ["--quiet"]
[diff]
    exclude = ["scripts"]

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    signingkey = {{ $signingkey | quote }}
    encryptionkey = {{ $encryptionkey | quote }}
