[init]
	defaultBranch = main
[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}
	signingkey = {{ .signingkey | quote}}
[merge]
	ff = no
[credential]
	helper = manager-core
	credentialStore = secretservice
[commit]
	gpgsign = true
